h1{
    /* color: transparent; */
    /* text-shadow: 4px 4px 1px black; */

    /* text-decoration: line-through;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-style: wavy; */
    
    /* font-family: 'Times New Roman', monospace; */
    text-align: center;
    text-decoration: underline red;
    

}

p{
    font-size: 0.5rem;
    font-weight: 400;
    font-style:italic;

}
body{
    font-family: Verdana,sans-serif;
}