.container{
    width: 40opx;
    height: 400px;
    border: 2px solid red;
    /* overflow: hidden;    */
    /* overflow: scroll; */
    /* overflow: auto; */
}

.p1{
    border: 2px solid green;
    clear: right;
}
.img1{
    float: right;
    margin-left: 40px;
}
/* .block1{
    overflow: auto;
} */
.p2{
    clear:both;

}
.img2{
    float: left;
}